In [52]:
# importing panda
import pandas as pd
import numpy as np
old=pd.read_excel('excel_old.xlsx')
new=pd.read_excel('excel_new.xlsx')
final=pd.read_excel('excel_new.xlsx')

In [53]:
comparison_values = old.values == new.values
print (comparison_values)

[[ True  True  True False False  True]
 [ True  True  True False False  True]
 [ True  True False False False False]
 [ True  True False False False  True]
 [ True  True False False False  True]
 [ True  True False False False False]
 [ True  True  True  True  True  True]]

In [54]:

rows,cols=np.where(comparison_values==False)

In [57]:
for item in zip(rows,cols):
    final.iloc[item[0], item[1]] = '{}'.format(new.iloc[item[0], item[1]]-old.iloc[item[0], item[1]])

In [58]:
final

  unique id data point 2020 2021 2022 2023
0       abc      var_a   11   21   48   87
1       abc      var_b    8   21  -45   76
2       def      var_a   53   11  200   12
3       def      var_b   45  -23   33   88
4       ghi      var_a   12   11   32   50
5       ghi      var_b    1   19   28   39
6       jkl      var_a   10   11   12   13

In [59]:
rows1,cols1=np.where(comparison_values==True)

In [60]:
for item in zip(rows1,cols1):
    if (type(old.iloc[item[0],item[1]])!=str):
        final.iloc[item[0], item[1]] = '{}'.format(old.iloc[item[0], item[1]]-new.iloc[item[0], item[1]])

In [69]:
final

  unique id data point 2020 2021 2022 2023
0       abc      var_a    0   21   48    0
1       abc      var_b    0   21  -45    0
2       def      var_a   53   11  200   12
3       def      var_b   45  -23   33    0
4       ghi      var_a   12   11   32    0
5       ghi      var_b    1   19   28   39
6       jkl      var_a    0    0    0    0

In [74]:
def color_negative_red(value):
    color = 'red' if (value!=0 and type(value)!=str) else 'black'
    return 'color: %s' %color

In [75]:
df_display=final.style.applymap(color_negative_red)

In [76]:
df_display

In [77]:
df_display.to_excel('Final_panda.xlsx', index=False)